div img{
    width: 300px;
    height: 400px;
    border: 1px solid #e0eae6;
}

.detail_bar1{
    width: 200px;
    height: 40px;
    color: white;
    background: #198754;
    border-radius: 17px;
}


.detail_bar2{
    width: 200px;
    height: 40px;
    color: white;
    background: #198754;
    border-radius: 17px;
}

.detail_bar1:hover{
    color: white;
    background: #006b42;
    cursor: pointer;
}

.detail_bar2:hover{
    color: white;
    background: #006b42;
    cursor: pointer;
}

.book_content{
    height: 30%;
    color: black;
    background: #e0eae6;
    border-radius: 5px;
}

.review{
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}



/*#review img{*/
/*    border: 1px solid red;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*}*/

/*.img{*/
/*    height: 100px;*/
/*    border: 1px solid blue;*/
/*}*/


/*.my-3.img {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.my-3.img img {*/
/*    margin-right: 10px; !* 이미지와 텍스트 사이의 간격 조절 *!*/
/*}*/

/*.re{*/
/*    border: 1px solid green;*/
/*}*/


/*img{*/
/*    background-size: cover;*/
/*}*/

