img{
    width: 140px;
    height: 170px;
}

.product{
    height: 200px;
    border-radius: 30px;
    background: #e0eae6;
}

.orderer{
    /*height: 300px;*/
    border-radius: 30px;
    background: #e0eae6;
}

.orderer div input{
    width: 500px;
    height: 50px;
}

#sample2_postcode{
    width: 25%;
}

#findZipCode{
    width: 25%;
}

#layer{
    display:none;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

#layer img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: -3px; top: -3px; z-index: 1;
}